/*
* Responsive layout for Patti 
*/

/* Table of Contents
==================================================

    #Mobile - 240px
    #Mobile - 320px	
    #Mobile - 480px	
	#Tablet - 768px	
	*/


/* #Mobile - 240px
================================================== */

@media only screen and (max-width: 319px) {

	html #wrapper {
		width:240px;
		margin:0 auto;
	}	

	.centered-wrapper {
		width:220px;
		padding:0 10px;
	}	

	.tparrows {
		display:none;
	}
	
	.tp-bullets {
		display:none;
	}

	#flickr li {
		margin: 0 10px 9px 0;
	}

	ul#social {
		float: none;
		text-align: center;
		margin-bottom:30px;
	}

	ul#social li {
		display: inline-block;
	}

	h1 {
		font-size:24px;
		line-height:30px;
		margin-bottom:13px;	
	}

	h2 {
		font-size:18px;
		line-height:24px;	
		margin-bottom:20px;	
	}

	h3 {
		font-size:16px;
		line-height:22px;
	}

	h4 {
		font-size:12px;
		line-height:20px;
	}

	.space {
		height:40px;
	}

	blockquote {
		margin: 10px 20px;
		padding: 0 0 5px 10px;
	}
	
	.portfolio li.item-wide h1 {
		font-size:20px;
		line-height:28px;
	}
	
	.portfolio li.item-long h1 {
		font-size:14px;
	}

	div.jp-audio div.jp-type-single div.jp-progress, div.jp-duration {
		display:none;
	}
	
	.author-bio {
		padding:15px;
	}

	.authorp {
		width:100%;
	
		margin-top: 10px;
}

	.authorp h2 {
		font-size:14px;
	}

	.author-bio img {
		margin: 0 15px 0 0;
	}
	
	.commentwrap {
		margin: 0 0 0 80px; 
	}

	.avatar img {
		width:60px;
		height:60px;
	}

	.author-bio img {
		width:60px;
		height:60px;
	}
	
	.contact-info {
		margin-bottom:30px;
	}
	
	.single-post .widget {
		margin-top:40px;
		margin-bottom:0px;
	}	

	.separator {
		width:100%;
		height:1px;
		clear:both;
		margin:30px 0;
		display:inline-block;
	}

	.double-separator {
		width:100%;
		height:1px;
		clear:both;
		margin:30px 0;
	}
	
	ul#social {
		margin:30px 0 10px;
	}

}

	
/*  #Mobile - 320px
================================================== */

@media only screen and (min-width: 320px) and (max-width: 479px) {

	html #wrapper {
		width:320px;
		margin:0 auto;
	}

	#header .one-fourth {
		width:320px;
	}

	.centered-wrapper {
		width:300px;
		padding:0 10px;
	}	

	.tparrows {
		display:none;
	}
	
	.tp-bullets {
		display:none;
	}

	#flickr li {
		margin: 0 10px 9px 0;
	}

	ul#social {
		float: none;
		text-align: center;
		margin-bottom:30px;
	}

	ul#social li {
		display: inline-block;
	}

	.portfolio li.item-wide h1 {
		font-size:20px;
		line-height:28px;
	}
	
	.portfolio li.item-long h1 {
		font-size:18px;
	}

	div.jp-duration {
		display:none;
	}
	div.jp-audio div.jp-type-single div.jp-progress {
		width: 25% !important;
		left: 34% !important;
	}
	
	.widget {
		margin-bottom:0;
		margin-top:30px;
	}

	.authorp h2 {
		font-size: 16px;
	}

	.author-bio img {
		margin: 0 15px 0 0;
	
		width: 13%;
}
	
	
	ul#social {
		margin:30px 0 10px;
	}

}


/* #Mobile - 480px
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	html #wrapper {
		width:480px;
	
		margin: 0 auto;
}

	html #footer {
		width:480px;
	}		

	.centered-wrapper {
		width:460px;
		padding:0 10px;
	}	

	.tparrows {
		display:none;
	}
	
	.tp-bullets {
		display:none;
	}

	ul#social {
		float: none;
		text-align: center;
		margin-bottom:30px;
	}

	ul#social li {
		display: inline-block;
	}

	.portfolio li.item-wide h1 {
		font-size:20px;
		line-height:28px;
	}
	
	.portfolio li.item-long h1 {
		font-size:14px;
	}

	.widget {
		margin-bottom:0;
		margin-top:30px;
	}

	.author-bio {
		padding:15px;
	}

	.authorp {
		width:340px;
	}

	.authorp h2 {
		font-size:14px;
	}

	.author-bio img {
		margin: 0 15px 0 0;
	}
	
	ul#social {
		margin:30px 0 10px;
	}

}



/* #Tablet - 768px
================================================== */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.percent-one-half { width: 48%; }
	.percent-one-third { width: 30.66%; }
	.percent-two-third { width: 65.33%; }
	.percent-one-fourth { width: 22%; }
	.percent-three-fourth { width: 74%; }
	.percent-one-fifth { width: 16.8%; }
	.percent-two-fifth { width: 37.6%; }
	.percent-three-fifth { width: 58.4%; }
	.percent-four-fifth { width: 67.2%; }
	.percent-one-sixth { width: 13.33%; }
	.percent-five-sixth { width: 82.67%; }

	.percent-one-half,
	.percent-one-third,
	.percent-two-third,
	.percent-three-fourth,
	.percent-one-fourth,
	.percent-one-fifth,
	.percent-two-fifth,
	.percent-three-fifth,
	.percent-four-fifth,
	.percent-one-sixth,
	.percent-five-sixth {
		position: relative;
		margin-right: 4%;
		float: left;
		min-height:1px;
	}
		
	html #wrapper {
		width:768px;
		margin:0 auto;
	}

	.centered-wrapper {
		width: 748px;
		padding: 0 10px;
	}	

	ul#social {
		float: right;
		text-align: center;
		margin-bottom:30px;
	}

	ul#social li {
		display: inline-block;
	}
	
	.on-three-columns .jp-duration {
		display: none;
	}

	.widget {
		margin-top:40px;
		margin-bottom:0px;
	}

}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	html #wrapper {
		width:100%;
		margin:0 auto;
	}

	.centered-wrapper {
		width: 1004px;
		padding: 0 10px;
	}		
}

@media only screen and (max-width: 767px) { 

	.percent-one-half { width: 100%; }
	.percent-one-third { width: 100%; }
	.percent-two-third { width: 100%; }
	.percent-one-fourth { width: 100%; }
	.percent-three-fourth { width: 100%; }
	.percent-one-fifth { width: 100%; }
	.percent-two-fifth { width: 100%; }
	.percent-three-fifth { width: 100%; }
	.percent-four-fifth { width: 100%; }
	.percent-one-sixth { width: 100%; }
	.percent-five-sixth { width: 100%; }

	.percent-one-half, .percent-one-third, .percent-two-third, .percent-three-fourth, .percent-one-fourth, .percent-one-fifth, .percent-two-fifth,
	.percent-three-fifth, .percent-four-fifth, .percent-one-sixth, .percent-five-sixth {
		position: relative;
		margin-right: 0;
		float: left;
		min-height:1px;
		margin-bottom:20px;
	}
	

	ul#filters li {
		margin: 0 5px 15px 0;
		float: left;
	}	

	.pricing-column.cols-4 {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.package-value, .package-features, .pricing-column .signup {
		border-left: 1px solid #DBDBDB;
	}
	
	ul#social li a {
		margin: 0 10px;
	}
	
	#bottomfooter p {
		text-align: center;
		float: none;
	}
}

@media only screen and (min-width: 1023px) {
	.nav-btn {
		margin: -1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
		height: 1px;		
	}
}

@media only screen and (max-width: 767px) {
	.float-left {
		float: none;
		text-align: center;
	}
	.page-title-subtitle h2 {
		line-height: 30px !important;
	}
}

@media only screen and (max-width: 1023px) {

	ul.tabs li {
    width: 100%;
	
	
}
	
	ul.tabs li a {
    border: 1px solid #efefef;
		
	
    padding-top: 15px;
    padding-bottom: 15px;
}
	
	ul.tabs li.active {
		
	}

	.percent-blog, #percent-sidebar {
		width: 100%;
		margin: 0;
		clear:both;
	}
	
	.page-title-subtitle h2 {
		line-height: 50px;
	}

	#navigation {
		margin-top: 15px;
		width: 100%;
	}

	ul#mainnav {
		padding-top: 0;
		width: 100%;
	
		margin-right: 0;
}
	
	ul#mainnav > li {
		background: none;
		width: 100%;
		border-bottom: 1px solid #EFEFEF;
	}
	
	ul#mainnav > li:last-child {
		border: 0;
	}
	
	 ul#mainnav li a {
		padding: 9px 0;
		display: block;
		margin: 0;
		height: auto;
		line-height: inherit;
}
	
	ul#mainnav li ul {
		display: block !important;
		position: relative;
		padding: 0;
		width: 95%;
}
	ul#mainnav li ul li {
		border-top: 1px solid #EFEFEF;
		background: transparent;
}
	
	ul#mainnav li ul li a, ul#mainnav li ul li ul li a, ul#mainnav li ul li a:visited, ul#mainnav li ul li a:active	 {
    width: 100%;
    padding: 9px 0;
    font-size: 13px !important;
    background: transparent;
}
	.sf-menu ul {
    left: 5%;
	}


	#header .percent-three-fourth {
		width: 100%;
		clear: both;
		margin-bottom: 0px;
	}
	
	#header .centered-wrapper {
		position: relative;
	}
	
	#header {
		width: 100%;
	}
	
	#header .percent-one-fourth {
		margin-bottom: 0px;
	}

	
	
}